<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Inventory Management</h1>
    <h2>Actions</h2>
    <ul class="actions">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
</body>
