<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<div id="error">
    <img src="https://64.media.tumblr.com/84d40ad63fee30b33f6161583f349b86/tumblr_pvcwrrtu7K1xpdwtoo3_540.gifv" alt="We lost">
    <p>We lost this page! Troubleshoot and come back later.</p>
</div>
